In [1]:
import pandas as pd

In [88]:
demographic_data = pd.read_csv("https://raw.githubusercontent.com/asmaaalaa99/SS154-Final-Project/main/Data/hd2019%20-%20hd2019.csv")
salary_data = pd.read_csv("https://raw.githubusercontent.com/asmaaalaa99/SS154-Final-Project/main/Data/salaries-by-region.csv")

In [89]:
#only get the first columns of the salary data 
salary_data_clean = salary_data[salary_data.columns[0:4]].copy()

In [90]:
salary_data_clean.head(5)

,School Name,Region,Starting Median Salary,Mid-Career Median Salary
0,Stanford University,California,"$70,400.00","$129,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00"
2,Harvey Mudd College,California,"$71,800.00","$122,000.00"
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00"

In [91]:
demographic_data.head(5)

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,"Dr. Andrew Hugine, Jr.",...,1,290,-2,1089,Madison County,105,-86.568502,34.783368,112,1
1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,98,1
2,100690,Amridge University,Southern Christian University Regions University,1200 Taylor Rd,Montgomery,AL,36117-3553,1,5,Michael C.Turner,...,1,388,-2,1101,Montgomery County,102,-86.174010,32.362609,129,2
3,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Darren Dawson,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,102,2
4,100724,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,Quinton T. Ross,...,1,388,-2,1101,Montgomery County,107,-86.295677,32.364317,120,1

In [135]:
df1 = demographic_data.copy()
df1.rename({'INSTNM': 'school_name'}, axis=1, inplace=True)
df1["school_name"] = df1["school_name"].str.lower()
df1["school_name"] = df1["school_name"].replace({'-': '', ',': ''}, regex=True)

df2 = salary_data_clean.copy()
df2.rename({'School Name': 'school_name'}, axis=1, inplace=True)
df2["school_name"] = df2["school_name"].str.lower()
df2["school_name"] = df2["school_name"].replace({'-': '', ',': ''}, regex=True)
import re
df2["school_name"].str.lower()
df2["school_name"] = df2["school_name"].apply(lambda x: re.sub(r"\(.*\)", "", x))
df1["school_name"] = df1["school_name"].apply(lambda x: re.sub(r"\(.*\)", "", x))
df1.merge(df2, how='inner', on='school_name')

,UNITID,school_name,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG,Region,Starting Median Salary,Mid-Career Median Salary
0,100858,auburn university,,,Auburn,AL,36849,1,5,Jay Gogue,...,1081,Lee County,103,-85.488258,32.599378,97,1,Southern,"$45,400.00","$84,700.00"
1,102553,university of alaska anchorage,UAA,3211 Providence Drive,Anchorage,AK,99508,2,8,Cathy Sandeen,...,2020,Anchorage Municipality,200,-149.826190,61.190163,110,1,Western,"$45,900.00","$72,600.00"
2,104179,university of arizona,UA|U of A|Arizona|UofA|The University of Arizo...,1401 E University,Tucson,AZ,85721-0066,4,6,Dr. Robert C. Robbins,...,4019,Pima County,403,-110.950815,32.232672,96,1,Western,"$47,500.00","$86,100.00"
3,106397,university of arkansas,University of Arkansas|Arkansas,Administration Bldg 425,Fayetteville,AR,72701,5,5,Joseph E. Steinmetz,...,5143,Washington County,503,-94.176981,36.070009,98,1,Southern,"$44,100.00","$82,800.00"
4,115409,harvey mudd college,"Mudd, HMC",301 Platt Blvd.,Claremont,CA,91711,6,8,Maria Klawe,...,6037,Los Angeles County,627,-117.709837,34.106515,137,1,California,"$71,800.00","$122,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,236595,seattle university,Seattle U,900 Broadway,Seattle,WA,98122-4340,53,8,Stephen V Sundborg,...,53033,King County,5309,-122.318851,47.608859,105,1,Western,"$48,300.00","$82,800.00"
145,237011,western washington university,Western Washington State College|Western Washi...,516 High Street,Bellingham,WA,98225-9008,53,8,Sabah Randhawa,...,53073,Whatcom County,5302,-122.485734,48.737812,109,1,Western,"$42,700.00","$75,400.00"
146,237057,whitman college,,345 Boyer Ave,Walla Walla,WA,99362,53,8,Kathleen Murray,...,53071,Walla Walla County,5305,-118.331546,46.069815,135,1,Western,"$43,500.00","$80,100.00"
147,239105,marquette university,,1250 W Wisconsin Avenue,Milwaukee,WI,53233,55,3,Dr. Michael Lovell,...,55079,Milwaukee County,5504,-87.927961,43.039030,103,1,Midwestern,"$48,500.00","$88,400.00"
148,243744,stanford university,,,Stanford,CA,94305,6,8,Marc Tessier-Lavigne,...,6085,Santa Clara County,618,-122.167359,37.429434,99,1,California,"$70,400.00","$129,000.00"

In [134]:
df2["school_name"]

0                            stanford university
1            california institute of technology
2                            harvey mudd college
3              university of california berkeley
4                             occidental college
                         ...
315     state university of new york  at potsdam
316                           niagara university
317    state university of new york  at fredonia
318                 university of southern maine
319                                mercy college
Name: school_name, Length: 320, dtype: object

In [39]:
import pandas as pd
import difflib

In [155]:
import pandas as pd
import fuzzy_pandas as fpd

matches = fpd.fuzzy_merge(df1, df2, on = ['school_name'],
                          ignore_case=True,
                    method = "levenshtein", threshold = 0.9)

print(matches)

     UNITID                                        school_name  \
0    100663                university of alabama at birmingham
1    100706                university of alabama in huntsville
2    100858                                  auburn university
3    102553                     university of alaska anchorage
4    104179                              university of arizona
..      ...                                                ...
263  240480               university of wisconsinstevens point
264  240727                              university of wyoming
265  243744                                stanford university
266  438498                               stratford university
267  459082  virginia polytechnic institute & state university

                                                IALIAS  \
0
1                UAH  University of Alabama Huntsville
2
3                                                  UAA
4    UA|U of A|Arizona|UofA|The University of Arizo...
..                                                 ...
263                                   UW-Stevens Point
264                                                 UW
265
266
267

                                ADDR           CITY STABBR         ZIP  FIPS  \
0     Administration Bldg Suite 1070     Birmingham     AL  35294-0110     1
1                    301 Sparkman Dr     Huntsville     AL       35899     1
2                                            Auburn     AL       36849     1
3              3211 Providence Drive      Anchorage     AK       99508     2
4                  1401 E University         Tucson     AZ  85721-0066     4
..                               ...            ...    ...         ...   ...
263                     2100 Main St  Stevens Point     WI  54481-3897    55
264      Corner of Ninth and Ivinson        Laramie     WY       82071    56
265                                        Stanford     CA       94305     6
266  3201 Jermantown Road, Suite 500        Fairfax     VA       22030    51
267               2 Riverside Circle        Roanoke     VA  24016-4950    51

     OBEREG                       CHFNM  ...                COUNTYNM CNGDSTCD  \
0         5                Ray L. Watts  ...        Jefferson County      107
1         5               Darren Dawson  ...          Madison County      105
2         5                   Jay Gogue  ...              Lee County      103
3         8               Cathy Sandeen  ...  Anchorage Municipality      200
4         6       Dr. Robert C. Robbins  ...             Pima County      403
..      ...                         ...  ...                     ...      ...
263       3            Bernie Patterson  ...          Portage County     5503
264       7               Neil Theobald  ...           Albany County     5600
265       8        Marc Tessier-Lavigne  ...      Santa Clara County      618
266       5  Dr.  Richard R. Shurtz, II  ...          Fairfax County     5111
267       5                              ...            Roanoke City     5106

       LONGITUD   LATITUDE  DFRCGID  DFRCUSCG  \
0    -86.799345  33.505697       98         1
1    -86.640449  34.724557      102         2
2    -85.488258  32.599378       97         1
3   -149.826190  61.190163      110         1
4   -110.950815  32.232672       96         1
..          ...        ...      ...       ...
263  -89.570934  44.529582      127         1
264 -105.579310  41.311773      101         1
265 -122.167359  37.429434       99         1
266  -77.310970  38.874798      119         2
267  -79.942599  37.257489       -2        -2

                                           school_name      Region  \
0                 university of alabama at birmingham     Southern
1                 university of alabama at huntsville     Southern
2                                    auburn university    Southern
3                       university of alaska anchorage     Western
4                                university of arizona     Western
..                                                 ...         ...
263            university of wisconsin   stevens point  Midwestern
264                             university of wyoming      Western
265                                stanford university  California
266                                stanford university  California
267  virginia polytechnic institute and state unive...    Southern

    Starting Median Salary Mid-Career Median Salary
0               $39,200.00               $70,100.00
1               $43,100.00               $82,700.00
2               $45,400.00               $84,700.00
3               $45,900.00               $72,600.00
4               $47,500.00               $86,100.00
..                     ...                      ...
263             $39,800.00               $64,000.00
264             $44,500.00               $78,700.00
265             $70,400.00              $129,000.00
266             $70,400.00              $129,000.00
267             $53,500.00               $95,400.00

[268 rows x 77 columns]

In [181]:
location_info = matches.copy()[["CITY","STABBR","LOCALE"]]

In [157]:
dollar_cols = ['Starting Median Salary','Mid-Career Median Salary']

for x in dollar_cols:
    matches[x] = matches[x].str.replace("$","")
    matches[x] = matches[x].str.replace(",","")
    matches[x] = pd.to_numeric(matches[x])

In [189]:
 df_final = matches.copy()

In [190]:
df_final = df_final.groupby(['CITY','STABBR']).agg({'Mid-Career Median Salary':'mean','Starting Median Salary':
 'mean'}).reset_index()

In [192]:
final_clean_data = df_final.merge(location_info, how='inner', on=['CITY','STABBR'])

In [195]:
final_clean_data.to_csv("Complete_full_data.csv")