In [2]:
import pandas as pd
import numpy as np

In [3]:
demographic_data = pd.read_csv("https://raw.githubusercontent.com/asmaaalaa99/SS154-Final-Project/main/Data/hd2019%20-%20hd2019.csv")
salary_data = pd.read_csv("https://raw.githubusercontent.com/asmaaalaa99/SS154-Final-Project/main/Data/salaries-by-region.csv")
salary_data_school_type = pd.read_csv("/Users/asmaaaly/Minerva/SF_spring/SS154/SS154-assignment/Data/salaries-by-college-type.csv")

In [9]:
salary_data = pd.merge(salary_data,salary_data_school_type[['School Name','School Type']],on='School Name', how='left')

In [10]:
salary_data

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,School Type
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00",NaN
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN,Engineering
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN,Engineering
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00",State
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN,Liberal Arts
...,...,...,...,...,...,...,...,...,...
335,State University of New York (SUNY) at Potsdam,Northeastern,"$38,000.00","$70,300.00","$35,100.00","$51,200.00","$100,000.00","$179,000.00",State
336,Niagara University,Northeastern,"$36,900.00","$69,700.00","$44,000.00","$57,000.00","$92,000.00","$128,000.00",NaN
337,State University of New York (SUNY) at Fredonia,Northeastern,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00",State
338,University of Southern Maine,Northeastern,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00",State
339,Mercy College,Northeastern,"$43,700.00","$62,600.00","$35,600.00","$47,300.00","$99,000.00","$134,000.00",NaN

In [11]:
#only get the first columns of the salary data 
salary_data_clean = salary_data.iloc[:,np.r_[0:4,8:9]]

In [12]:
salary_data_clean.head(5)

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,School Type
0,Stanford University,California,"$70,400.00","$129,000.00",NaN
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",Engineering
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",Engineering
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00",State
4,Occidental College,California,"$51,900.00","$105,000.00",Liberal Arts

In [4]:
demographic_data.head(5)

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,"Dr. Andrew Hugine, Jr.",...,1,290,-2,1089,Madison County,105,-86.568502,34.783368,112,1
1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,98,1
2,100690,Amridge University,Southern Christian University Regions University,1200 Taylor Rd,Montgomery,AL,36117-3553,1,5,Michael C.Turner,...,1,388,-2,1101,Montgomery County,102,-86.174010,32.362609,129,2
3,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Darren Dawson,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,102,2
4,100724,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,Quinton T. Ross,...,1,388,-2,1101,Montgomery County,107,-86.295677,32.364317,120,1

In [5]:
df1 = demographic_data.copy()
df1.rename({'INSTNM': 'school_name'}, axis=1, inplace=True)
df1["school_name"] = df1["school_name"].str.lower()
df1["school_name"] = df1["school_name"].replace({'-': '', ',': ''}, regex=True)

df2 = salary_data_clean.copy()
df2.rename({'School Name': 'school_name'}, axis=1, inplace=True)
df2["school_name"] = df2["school_name"].str.lower()
df2["school_name"] = df2["school_name"].replace({'-': '', ',': ''}, regex=True)
import re
df2["school_name"].str.lower()
df2["school_name"] = df2["school_name"].apply(lambda x: re.sub(r"\(.*\)", "", x))
df1["school_name"] = df1["school_name"].apply(lambda x: re.sub(r"\(.*\)", "", x))
df1.merge(df2, how='inner', on='school_name')

NameError: name 'salary_data_clean' is not defined

In [8]:
abbr = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"]
di = {"AL":"Alabama","AK":"Alaska","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut","DE":"Delaware","FL":"Florida","GA":"Georgia","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana","IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts","MI":"Michigan","MN":"Minnesota","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada","NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota","OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","RI":"Rhode Island","SC":"South Carolina","SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","WA":"Washington","WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}

In [9]:
df = pd.read_csv("/Users/asmaaaly/Minerva/SF_spring/SS154/SS154-assignment/Data/Most-Recent-Cohorts-All-Data-Elements.csv")

In [10]:
df['STABBR'] = df['STABBR'].map(di)

In [11]:
df.rename({'CITY': 'City','STABBR':'State'}, axis=1, inplace=True)
df['Geographic Area'] = df[['City', 'State']].apply(lambda x: ' , '.join(x[x.notnull()]), axis = 1)

In [14]:
df2 = pd.read_csv("https://raw.githubusercontent.com/asmaaalaa99/SS154-Final-Project/main/Data/population_data.csv", header=0)

In [10]:
#df2[['City','State']] = df2["Geographic Area"].apply(lambda x: pd.Series(str(x).split(",")))

In [16]:
df2['Geographic Area'] = df2["Geographic Area"].apply(lambda x: pd.Series(str(x).replace("city","")))
df2["Geographic Area"] = df2["Geographic Area"].str.lower()
df["Geographic Area"] = df["Geographic Area"].str.lower()

In [17]:
df2 = df2[['2019','Geographic Area']]

In [18]:
import pandas as pd
import fuzzy_pandas as fpd

matches = fpd.fuzzy_merge(df, df2, on = ['Geographic Area'],
                          ignore_case=True,
                    method = "levenshtein", threshold = 0.9)

print(matches)

        UNITID    OPEID  OPEID6                                INSTNM  \
0       100663   105200    1052   University of Alabama at Birmingham
1       100690  2503400   25034                    Amridge University
2       100706   105500    1055   University of Alabama in Huntsville
3       100724   100500    1005              Alabama State University
4       100751   105100    1051             The University of Alabama
...        ...      ...     ...                                   ...
3366  48511103   157101    1571   Georgia Military College - Valdosta
3367  48511106   157105    1571     Georgia Military College - Robins
3368  48511107   157107    1571   Georgia Military College - Columbus
3369  49005401  4182601   41826  HCI College - Fort Lauderdale Campus
3370  49146401  4227001   42270      ABC Adult School - Cabrillo Lane

                 City       State         ZIP  \
0          Birmingham     Alabama  35294-0110
1          Montgomery     Alabama  36117-3553
2          Huntsville     Alabama       35899
3          Montgomery     Alabama  36104-0271
4          Tuscaloosa     Alabama  35487-0100
...               ...         ...         ...
3366         Valdosta     Georgia   316057084
3367    Warner Robins     Georgia   310930711
3368         Columbus     Georgia   319094460
3369  Fort Lauderdale     Florida       33309
3370         Cerritos  California   907037748

                                           ACCREDAGENCY  \
0     Southern Association of Colleges and Schools C...
1     Southern Association of Colleges and Schools C...
2     Southern Association of Colleges and Schools C...
3     Southern Association of Colleges and Schools C...
4     Southern Association of Colleges and Schools C...
...                                                 ...
3366  Southern Association of Colleges and Schools C...
3367  Southern Association of Colleges and Schools C...
3368  Southern Association of Colleges and Schools C...
3369  Accrediting Commission of Career Schools and C...
3370                  Council on Occupational Education

                            INSTURL  \
0               https://www.uab.edu
1         www.amridgeuniversity.edu
2                       www.uah.edu
3                     www.alasu.edu
4                       www.ua.edu/
...                             ...
3366  https://www.gmc.edu/index.cms
3367  https://www.gmc.edu/index.cms
3368  https://www.gmc.edu/index.cms
3369                   www.hci.edu/
3370                            NaN

                                                 NPCURL  ...  LPSTAFFORD_AMT  \
0      https://uab.studentaidcalculator.com/survey.aspx  ...      1720042015
1                      www2.amridgeuniversity.edu:9091/  ...       174222020
2                                       finaid.uah.edu/  ...       407184805
3     www.alasu.edu/cost-aid/tuition-costs/net-price...  ...       947070736
4             financialaid.ua.edu/net-price-calculator/  ...      1771875477
...                                                 ...  ...             ...
3366                                                NaN  ...       314378676
3367                                                NaN  ...       314378676
3368                                                NaN  ...       314378676
3369                                                NaN  ...        19902445
3370                                                NaN  ...             NaN

      LPPPLUS_CNT  LPPPLUS_AMT        LPGPLUS_CNT        LPGPLUS_AMT  \
0            3727     87421879               3461          134126588
1              16       309618                298           16290781
2            1397     29789762                144            2377759
3            4602     95359062                587           12174367
4           11535    619905869               2035           69504249
...           ...          ...                ...                ...
3366          551      4903237  PrivacySuppressed  PrivacySuppressed
3367          551      4903237  PrivacySuppressed  PrivacySuppressed
3368          551      4903237  PrivacySuppressed  PrivacySuppressed
3369           25       286863  PrivacySuppressed  PrivacySuppressed
3370          NaN          NaN                NaN                NaN

      FEDSCHCD                                      SEARCH_STRING  \
0         1052               University of Alabama at Birmingham
1        16885  Amridge University Southern Christian Universi...
2         1055  University of Alabama in Huntsville UAH  Unive...
3         1005                          Alabama State University
4         1051                         The University of Alabama
...        ...                                                ...
3366      1571               Georgia Military College - Valdosta
3367      1571                 Georgia Military College - Robins
3368      1571               Georgia Military College - Columbus
3369     41826              HCI College - Fort Lauderdale Campus
3370     42270                  ABC Adult School - Cabrillo Lane

                Geographic Area     2019            Geographic Area
0          birmingham , alabama  209,403       birmingham , alabama
1          montgomery , alabama  198,525       montgomery , alabama
2          huntsville , alabama  200,574       huntsville , alabama
3          montgomery , alabama  198,525       montgomery , alabama
4          tuscaloosa , alabama  101,129       tuscaloosa , alabama
...                         ...      ...                        ...
3366         valdosta , georgia   56,457         valdosta , georgia
3367    warner robins , georgia   77,617    warner robins , georgia
3368         columbus , georgia  195,769         columbus , georgia
3369  fort lauderdale , florida  182,437  fort lauderdale , florida
3370      cerritos , california   49,859      cerritos , california

[3371 rows x 2387 columns]

In [19]:
count = matches.isna().sum()
new_df = (pd.concat([count.rename('missing_count'),
                     count.div(len(df))
                          .rename('missing_ratio')],axis = 1)
             .loc[count.ne(0)])

In [123]:
new_df = new_df.sort_values(by=['missing_count']).reset_index()

In [130]:
columns_of_interest = "INSTNM,HIGHDEG, REGION, ANNHI, PBI, TRIBAL, HSI, MENONLY, WOMENONLY, ADM_RATE, SATVRMID, SATMTMID, SATWRMID, ACTENMID, SAT_AVG, UGDS_BLACK, UGDS_WHITE, UGDS_HISP, UGDS_ASIAN, UGDS_AIAN, UGDS_NHPI, UGDS_2MOR, UGDS_NRA, UG_NRA, PPTUG_EF, NPT4_PUB, NPT4_PROG, NUM4_PUB, NUM4_PRIV, NUM4_PROG, COSTT4_A, TUITIONFEE_IN, TUITIONFEE_OUT, AVGFACSAL, PFTFAC, PCTPELL, C150_4, C150_L4, PFTFTUG1_EF, D150_4, INC_PCT_LO, DEP_STAT_PCT_IND, IND_INC_PCT_LO, DEP_INC_PCT_LO, PAR_ED_PCT_1STGEN, INC_PCT_M1, INC_PCT_M2, INC_PCT_H1, INC_PCT_H2, IND_INC_PCT_H2, PAR_ED_PCT_MS, PAR_ED_PCT_HS, PAR_ED_PCT_PS, DEP_INC_AVG, IND_INC_AVG, LO_INC_YR4_N, HI_INC_YR4_N, DEP_YR4_N,IND_YR4_N, LOAN_YR4_N, NOLOAN_YR4_N, FIRSTGEN_YR4_N, DEBT_MDN, GRAD_DEBT_MDN, WDRAW_DEBT_MDN, LO_INC_DEBT_MDN, MD_INC_DEBT_MDN, HI_INC_DEBT_MDN, HI_INC_DEBT_MDN, IND_DEBT_MDN, PELL_DEBT_MDN, FEMALE_DEBT_MDN, MALE_DEBT_MDN, NOTFIRSTGEN_DEBT_MDN, FIRSTGEN_DEBT_MDN, INC_N, DEP_INC_N, PAR_ED_N, PELL_EVER, AGE_ENTRY, AGE_ENTRY_SQ, AGEGE24, FEMALE, MARRIED, VETERAN, DEPENDENT, FIRST_GEN, FAMINC, MD_FAMINC, FAMINC_IND, LNFAMINC, LNFAMINC_IND, PCT_WHITE, PCT_BLACK, PCT_ASIAN, PCT_BA, PCT_GRAD_PROF, PCT_BORN_US, MEDIAN_HH_INC, POVERTY_RATE, UNEMP_RATE, LN_MEDIAN_HH_INC, MD_EARN_WNE_P10, COUNT_NWNE_P10, MN_EARN_WNE_P10, MD_EARN_WNE_P10, COUNT_WNE_INDEP1_P10, COUNT_WNE_MALE0_P10, DEBT_MDN_SUPP, CONTROL, CCBASIC, 2019,CCSIZSET,SCHTYPE"

In [201]:
keep= ["MD_EARN_WNE_P10", "MD_EARN_WNE_P8", "MD_EARN_WNE_P6", "INSTNM", "2019", "GRAD_DEBT_MDN","FIRST_GEN","MARRIED","ADM_RATE","SAT_AVG","POVERTY_RATE","Geographic Area","LN_MEDIAN_HH_INC","COSTT4_A"]
leave = ["MD_EARN_WNE_P10", "MD_EARN_WNE_P8", "MD_EARN_WNE_P6", "INSTNM", "population_2019", "GRAD_DEBT_MDN","FIRST_GEN","MARRIED","POVERTY_RATE","Geographic Area","LN_MEDIAN_HH_INC","COSTT4_A"]

In [197]:
raw_data = matches.copy()[keep]

In [198]:
raw_data.rename({'2019': 'population_2019'}, axis=1, inplace=True)
raw_data = raw_data.replace('PrivacySuppressed', np.nan)

In [202]:
clean_data = raw_data.dropna(subset=leave)

In [203]:
clean_data["population_2019"] = clean_data["population_2019"].str.replace(',', '').astype(float)

In [204]:
clean_data

,MD_EARN_WNE_P10,MD_EARN_WNE_P8,MD_EARN_WNE_P6,INSTNM,population_2019,GRAD_DEBT_MDN,FIRST_GEN,MARRIED,ADM_RATE,SAT_AVG,POVERTY_RATE,Geographic Area,Geographic Area,LN_MEDIAN_HH_INC,COSTT4_A
0,41200,38300,35100,University of Alabama at Birmingham,209403.0,22500,0.341223671,0.105086641,0.9211,1220.0,10.90999985,"birmingham , alabama","birmingham , alabama",10.85999966,24347.0
1,39600,38300,30700,Amridge University,198525.0,27334,0.5125,0.236486487,NaN,NaN,10.64999962,"montgomery , alabama","montgomery , alabama",10.84000015,17680.0
2,46700,41800,36200,University of Alabama in Huntsville,200574.0,21607,0.310132159,0.100460444,0.8087,1314.0,9.369999886,"huntsville , alabama","huntsville , alabama",10.93000031,23441.0
3,27700,25200,22600,Alabama State University,198525.0,32000,0.343434343,0.00798722,0.9774,972.0,16.95999908,"montgomery , alabama","montgomery , alabama",10.67000008,21476.0
4,44500,40300,37400,The University of Alabama,101129.0,23250,0.225712689,0.053705693,0.5906,1252.0,10.05000019,"tuscaloosa , alabama","tuscaloosa , alabama",10.89999962,29424.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2209,37300,31900,27700,American InterContinental University-Houston,2320268.0,33448,0.554870055,0.233339257,NaN,NaN,10.14999962,"houston , texas","houston , texas",10.93000031,22290.0
2211,26800,22200,21900,Remington College-North Houston Campus,2320268.0,14120,0.594666294,0.153711023,NaN,NaN,12.97999954,"houston , texas","houston , texas",10.89999962,24689.0
2219,38800,35000,31900,Johnson & Wales University-Charlotte,885708.0,25125,0.346414073,0.026886278,0.8569,NaN,7.849999905,"charlotte , north carolina","charlotte , north carolina",11.07999992,47543.0
2235,28800,28400,24200,Stevens-Henager College,51542.0,26988,0.558659218,0.267907595,NaN,NaN,7.090000153,"logan , utah","logan , utah",10.98999977,33025.0
2240,28800,25600,24600,Eagle Gate College-Layton,78014.0,31823,0.52581262,0.352750809,NaN,NaN,6.920000076,"layton , utah","layton , utah",11.03999996,22548.0

In [205]:
clean_data.to_csv("clean_data.csv")

In [85]:
di_HIGHDEG = {"0":"Non-degree-granting","1":"Certificate degree","2": "Associate degree","3":"Bachelor's degree","4": "Graduate degree"}
di_SCHTYPE = {'1.0':"Public",'2.0':"Private",'3.0': "Proprietary"}

In [86]:
raw_data['HIGHDEG'] = raw_data['HIGHDEG'].astype(str).map(di_HIGHDEG)
raw_data['SCHTYPE'] = raw_data['SCHTYPE'].astype(str).map(di_SCHTYPE)

In [88]:
str(raw_data['HIGHDEG'][0])

'Graduate degree'

In [87]:
raw_data["SCHTYPE"]

0            Public
1           Private
2            Public
3            Public
4            Public
           ...
3366         Public
3367         Public
3368         Public
3369    Proprietary
3370         Public
Name: SCHTYPE, Length: 3371, dtype: object

In [51]:
matches.SCHTYPE

0       1.0
1       2.0
2       1.0
3       1.0
4       1.0
       ...
3366    1.0
3367    1.0
3368    1.0
3369    3.0
3370    1.0
Name: SCHTYPE, Length: 3371, dtype: float64

In [186]:
raw_data.to_csv("raw_data.csv")

In [187]:
outcomes = new_df.copy().loc[new_df['index'].isin(["MD_EARN_WNE_P6","MN_EARN_WNE_P7","MD_EARN_WNE_P8","MD_EARN_WNE_P10","MN_EARN_WNE_P9"])]

In [189]:
outcomes.to_csv("outcomes.csv")

In [169]:
data_columns = new_df.copy().loc[new_df['index'].isin(k)]

In [170]:
labels = "Median debt, The median debt for not-first-generation students, The median debt for first-generation students, The median debt for male students, The median debt for female students, The median debt for Pell students, The median debt for independent students,  The median debt for students with family income $75001, The median debt for students with family income between 30001-$75000, The median debt for students with family income between$0-$30000,The median debt for students who have completed, The median original amount of the loan principal upon entering repayment, Number of first-generation students in overall 4-year completion,  Number of no-loan students in overall 4-year completion cohort,Number of loan students in overall 4-year completion cohort, Number of dependent students in overall 4-year completion cohort, Number of independent students in overall 4-year completion cohort, Number of high-income (above $75000 in nominal family income) students in overall 4-year completion cohort,Number of students in overall 4-year completion cohort completion.4_yr_completion.low_income,Flag for men-only college,Flag for women-only college,Carnegie Classification -- basic, Flag for Hispanic-serving institution,Flag for Alaska Native Native Hawaiian serving institution, Flag for Historically Black College and University school, Flag for predominantly black institution,Number of students in the parents' education level cohort,Average family income for independent students in real 2015 dollars,Median family income in real 2015 dollars,Average family income in real 2015 dollars, Share of first-generation students,Share of veteran students, Share of dependent students, Share of married students, Share of female students,Average age of entry,Share of students who received a Pell Grant while in school,Number of students in the family income cohort, Number of students in the family income dependent students cohort, Percentage of students who are financially independent and have family incomes between $0-30000, Percentage of students who are financially dependent and have family incomes between $0-30000,Percentage first-generation studentsstudent.share_middleincome.30001_48000, Aided students with family incomes between $30001-$48000in nominal dollars,Aided students with family incomes between $48,001-$75,000 in nominal dollars,Aided students with family incomes between $75,001-$110,000 in nominal dollars, Aided students with family incomes between $110001+ in nominal dollars, Percentage of students who are financially independent,Independent students with family incomes between $110001+ in nominal dollars, Percent of students whose parents' highest educational level is middle school,Percent of students whose parents' highest educational level is high school,Percent of students whose parents' highest educational level was is some form of postsecondary education,Average family income of dependent students in real 2015 dollars,Average family income of independent students in real 2015 dollars,Percentage of aided students whose family income is between $0-$30000,Total share of enrollment of undergraduate degree-seeking students who are white,Total share of enrollment of undergraduate degree-seeking students who are black,Total share of enrollment of undergraduate degree-seekingstudents who are American Indian/Alaska Native,Total share of enrollment of undergraduate degree-seeking students who are Asian, Total share of enrollment of undergraduate degree-seeking students who are Native Hawaiian/Pacific Islander, Total share of enrollment of undergraduate degree-seeking students who are two or more races, Total share of enrollment of undergraduate degree-seeking students who are non-resident aliens,Percentage of undergraduates who receive a Pell Grant, Share of undergraduate degree-/certificate-seeking students who are part-time, Median earnings of students working and not enrolled 10 years after entry,Mean earnings of students working and not enrolled 10 years after entry,Number of students not working and not enrolled 10 years after entry, Number of female students working and not enrolled 10 years after entry,number of independent students working and not enrolled 10 years after entry, Percent of the population from students' zip codes over 25 with a professional degree,Percent of the population from students' zip codes that is Asian,Percent of the population from students' zip codes that is black,Percent of the population from students' zip codes that is white,Poverty rate, Percent of students over 23 at entry, unempolyment rate, Percent of the population from students' zip codes that was born in the US,Log of the median household income,Median household income,Percent of the population from students' zip codes with a bachelor's degree over the age 25,Number of Title IV students (private for-profit and nonprofit institutions),Average faculty salary, In-state tuition and fees, Proportion of faculty that is full-time, Completion rate for first-time full-time students at less-than-four-year institutions (150% of expected time to completion), Out-of-state tuition and fees, Average cost of attendance (academic year institutions),Completion rate for first-time full-time students at four-year institutions (150% of expected time to completion),Adjusted cohort count for completion rate at four-year institutions, Admission rate,Average net price for Title IV institutions (public institutions),  Number of Title IV students (public institutions),Average SAT equivalent score of students admitted, Midpoint of SAT scores at the institution (math),Midpoint of the ACT English score, Midpoint of SAT scores at the institution (writing), Total share of enrollment of undergraduate students who are non-resident,Average of the age of entry squared,Number of Title IV students (program-year institutions),Average of the log of family income for independent students,Average of the log of family income, Average net price for the largest program at the institution for program-year institutions"

In [171]:
labels = labels.split(",")
#k = [x.replace(' ', '') for x in columns_of_interest]

In [172]:
data_columns["label"] = np.asarray(labels)

In [174]:
data_columns.rename({'index': 'Variable'}, axis=1, inplace=True)

In [190]:
data_columns.to_csv("Database_clean_data.csv")

In [201]:
df23 = pd.read_csv("/Users/asmaaaly/Minerva/SF_spring/SS154/SS154-assignment/Data/salaries-by-college-type.csv",header=0)

In [239]:
raw_data = pd.read_csv("/Users/asmaaaly/Minerva/SF_spring/SS154/SS154-assignment/raw_data.csv",header=0,index_col=0)

In [240]:
raw_data.rename({'INSTNM': 'school_name'}, axis=1, inplace=True)

In [243]:
df23.rename({'School Name': 'school_name'}, axis=1, inplace=True)

In [223]:
raw_data = raw_data.drop_duplicates()
df23 = df23.drop_duplicates()

In [245]:

school_stype = fpd.fuzzy_merge(raw_data, df23, on = ['school_name'],
                          ignore_case=True,
                    method = "levenshtein", threshold = 0.9)

In [246]:
school_stype

,school_name,HIGHDEG,REGION,ANNHI,PBI,TRIBAL,HSI,MENONLY,WOMENONLY,ADM_RATE,...,CCBASIC,population_2019,school_name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Auburn University,4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.7543,...,15.0,"66,259",Auburn University,State,"$45,400.00","$84,700.00","$45,400.00","$62,700.00","$109,000.00","$145,000.00"
1,University of Arizona,4,6,0.0,0.0,0.0,1.0,0.0,0.0,0.8442,...,15.0,"548,073",University of Arizona,State,"$47,500.00","$86,100.00","$44,800.00","$61,700.00","$117,000.00","$160,000.00"
2,University of Arkansas,4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.7747,...,15.0,"87,590",University of Arkansas,State,"$44,100.00","$82,800.00","$43,200.00","$60,700.00","$113,000.00","$160,000.00"
3,University of Arkansas,4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.7747,...,15.0,"87,590",University of Kansas,State,"$42,400.00","$81,600.00","$44,800.00","$57,200.00","$115,000.00","$156,000.00"
4,University of California-Berkeley,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.1484,...,15.0,"121,363","University of California, Berkeley",State,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
5,University of California-Davis,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.4107,...,15.0,"69,413","University of California, Davis",State,"$52,300.00","$99,600.00","$52,000.00","$71,600.00","$135,000.00","$202,000.00"
6,Humboldt State University,4,8,0.0,0.0,0.0,1.0,0.0,0.0,0.7679,...,19.0,"57,939",Humboldt State University,State,"$42,600.00","$71,300.00","$36,000.00","$56,300.00","$94,400.00","$117,000.00"
7,Occidental College,3,8,0.0,0.0,0.0,0.0,0.0,0.0,0.3730,...,21.0,"3,979,576",Occidental College,Liberal Arts,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN
8,Yale University,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0635,...,15.0,"130,250",Yale University,Ivy League,"$59,100.00","$126,000.00","$58,000.00","$80,600.00","$198,000.00","$326,000.00"
9,Georgia State University,4,5,0.0,1.0,0.0,0.0,0.0,0.0,0.7137,...,15.0,"506,811",Georgia State University,State,"$41,800.00","$74,000.00","$43,000.00","$55,300.00","$99,900.00","$145,000.00"
10,Idaho State University,4,7,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,16.0,"56,637",Idaho State University,State,"$44,900.00","$73,400.00","$35,400.00","$49,600.00","$101,000.00","$143,000.00"
11,DePaul University,4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.6753,...,16.0,"2,693,976",DePauw University,Liberal Arts,"$41,400.00","$88,300.00","$49,500.00","$57,400.00","$133,000.00","$185,000.00"
12,University of Illinois at Chicago,4,3,0.0,0.0,0.0,1.0,0.0,0.0,0.7555,...,15.0,"2,693,976",University of Illinois at Chicago,State,"$47,500.00","$81,700.00","$44,700.00","$58,800.00","$110,000.00","$146,000.00"
13,Iowa State University,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.9060,...,15.0,"66,258",Iowa State University,State,"$45,400.00","$84,600.00","$44,400.00","$60,000.00","$109,000.00","$147,000.00"
14,University of Kansas,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.9171,...,15.0,"98,193",University of Arkansas,State,"$44,100.00","$82,800.00","$43,200.00","$60,700.00","$113,000.00","$160,000.00"
15,University of Kansas,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.9171,...,15.0,"98,193",University of Kansas,State,"$42,400.00","$81,600.00","$44,800.00","$57,200.00","$115,000.00","$156,000.00"
16,University of Southern Maine,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.8543,...,18.0,"66,215",University of Southern Maine,State,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
17,Harvard University,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0473,...,15.0,"118,927",Harvard University,Ivy League,"$63,400.00","$124,000.00","$54,800.00","$86,200.00","$179,000.00","$288,000.00"
18,College of the Holy Cross,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.3801,...,21.0,"185,428",College of the Holy Cross,Liberal Arts,"$50,200.00","$106,000.00",NaN,"$65,600.00","$143,000.00",NaN
19,Wentworth Institute of Technology,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.7604,...,19.0,"692,600",Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00","$55,200.00","$74,000.00","$117,000.00","$153,000.00"
20,Wayne State University,4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.7115,...,15.0,"670,031",Wayne State University,State,"$42,800.00","$76,100.00","$40,100.00","$56,200.00","$101,000.00","$139,000.00"
21,Western Michigan University,4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.8110,...,16.0,"76,200",Eastern Michigan University,State,"$40,300.00","$72,100.00","$37,900.00","$52,800.00","$95,400.00","$135,000.00"
22,University of Missouri-Columbia,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.7784,...,15.0,"123,195",University of Missouri - Columbia,State,"$41,700.00","$81,000.00","$43,500.00","$57,100.00","$111,000.00","$156,000.00"
23,Montana State University Billings,4,7,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,19.0,"109,577",Montana State University - Billings,State,"$37,900.00","$50,600.00","$22,600.00","$31,800.00","$78,500.00","$98,900.00"
24,University of Nebraska at Omaha,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.8168,...,16.0,"478,192",University of Nebraska at Omaha,State,"$41,500.00","$72,600.00","$39,500.00","$54,400.00","$97,400.00","$126,000.00"
25,Union College,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.9606,...,22.0,"289,102",Union College,Liberal Arts,"$47,200.00","$95,800.00","$48,700.00","$75,200.00","$135,000.00","$230,000.00"
26,Stevens Institute of Technology,4,2,0.0,0.0,0.0,0.0,0.0,0.0,0.4142,...,16.0,"52,677",Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00","$68,700.00","$81,900.00","$138,000.00","$185,000.00"
27,Union College,3,2,0.0,0.0,0.0,0.0,0.0,0.0,0.3868,...,21.0,"65,273",Union College,Liberal Arts,"$47,200.00","$95,800.00","$48,700.00","$75,200.00","$135,000.00","$230,000.00"
28,University of North Dakota,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.8221,...,16.0,"55,839",University of North Dakota,State,"$44,000.00","$80,600.00","$43,400.00","$56,400.00","$111,000.00","$157,000.00"
29,Cleveland State University,4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.8834,...,16.0,"381,009",Cleveland State University,State,"$43,500.00","$73,100.00","$39,500.00","$51,600.00","$97,000.00","$137,000.00"
30,University of Toledo,4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.9365,...,16.0,"272,779",University of Toledo,State,"$43,100.00","$75,900.00","$40,100.00","$54,100.00","$100,000.00","$133,000.00"
31,Wittenberg University,4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.7373,...,21.0,"58,877",Wittenberg University,Liberal Arts,"$39,200.00","$78,200.00",NaN,"$54,100.00","$131,000.00",NaN
32,Lewis & Clark College,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.7376,...,21.0,"654,741",Lewis & Clark College,Liberal Arts,"$38,900.00","$72,600.00","$38,200.00","$53,400.00","$104,000.00","$140,000.00"
33,University of Oregon,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.8337,...,15.0,"172,622",University of Oregon,State,"$42,200.00","$78,400.00","$38,100.00","$56,200.00","$117,000.00","$186,000.00"
34,Reed College,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.3503,...,21.0,"654,741",Reed College,Liberal Arts,"$40,500.00","$81,100.00",NaN,"$67,400.00","$101,000.00",NaN
35,Franklin and Marshall College,3,2,0.0,0.0,0.0,0.0,0.0,0.0,0.3532,...,21.0,"59,265",Franklin and Marshall College,Liberal Arts,"$49,100.00","$92,800.00",NaN,"$55,800.00","$185,000.00",NaN
36,Moravian College,4,2,0.0,0.0,0.0,0.0,0.0,0.0,0.7282,...,21.0,"75,815",Moravian College,Liberal Arts,"$42,500.00","$74,400.00",NaN,"$56,700.00","$94,900.00",NaN
37,University of Pennsylvania,4,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0841,...,15.0,"1,584,064",University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00","$55,900.00","$79,200.00","$192,000.00","$282,000.00"
38,Brown University,4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0767,...,15.0,"179,883",Brown University,Ivy League,"$56,200.00","$109,000.00","$55,400.00","$74,400.00","$159,000.00","$228,000.00"
39,South Dakota School of Mines and Technology,4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.8332,...,27.0,"77,503",South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00","$71,500.00","$81,900.00","$122,000.00","$147,000.00"
40,Austin Peay State University,4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.9378,...,18.0,"158,146",Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
41,Lamar University,4,6,0.0,0.0,0.0,0.0,0.0,0.0,0.8432,...,17.0,"116,825",Lamar University,State,"$46,500.00","$79,400.00","$38,700.00","$51,600.00","$114,000.00","$158,000.00"
42,Utah State University,4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.8905,...,16.0,"51,542",Utah State University,State,"$43,800.00","$78,700.00","$41,600.00","$55,400.00","$101,000.00","$132,000.00"
43,University of Utah,4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.6686,...,15.0,"200,567",University of Utah,State,"$45,400.00","$83,200.00","$43,000.00","$58,400.00","$116,000.00","$148,000.00"
44,University of Puget Sound,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.8831,...,21.0,"217,827",University of Puget Sound,Liberal Arts,"$46,600.00","$81,500.00","$48,900.00","$60,100.00","$104,000.00","$137,000.00"
45,Western Washington University,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.8766,...,18.0,"92,314",Western Washington University,State,"$42,700.00","$75,400.00","$41,300.00","$56,700.00","$99,200.00","$119,000.00"
46,Western Washington University,4,8,0.0,0.0,0.0,0.0,0.0,0.0,0.8766,...,18.0,"92,314",Eastern Washington University,State,"$38,600.00","$70,900.00","$36,000.00","$50,500.00","$93,100.00","$117,000.00"